# Substreams endpoint (find more at https://substreams.streamingfast.io/reference-and-specs/chains-and-endpoints)
ENDPOINT=eth.substreams.pinax.network:443

# Substreams API token (get one at https://app.pinax.network or https://app.streamingfast.io)
SUBSTREAMS_API_TOKEN=your_token_here

# PostgreSQL connection string
PG_DSN=psql://dev-node:insecure-change-me-in-prod@localhost:5432/substreams?sslmode=disable

# Block range
START_BLOCK=1000000
STOP_BLOCK=+100
